.message-container, .textarea-container{
    margin-left: 20%;
    margin-right: 20%;
    margin-top:0;
    width:60%;
}
.message-container{
    height: 70%;
    background-color: silver;
    overflow-y: scroll;
}
.textarea-container{
    height:10%;
}
.message-row-r, .message-row-s{
    float:left;
    width:100%;
    font-family: Calibri, serif;
    font-size:18px;
}
.message-received, .message-sent{
    min-width:5%;
    max-width:60%;
    overflow-wrap: break-word;
    min-height:20px;
    border-radius: 10%;
    padding: 10px;
    margin:10px;
}
.message-received{
    float:left;
    margin-left:10%;
    background-color: white;
}
.message-sent{
    float: right;
    margin-right:10%;
    background-color: rgb(241,255,230);
}
.message-area{
    width:90%;
    height: 100%;
    resize: none;
    margin: 0;
    font-family: Calibri, serif;
    font-size:18px
}
.btn-send{
    width:10%;
    height:100%;
    float:right;
    border-width:1px;
    border-style:solid;
    border-color:black;
    font-weight: bold;

}